<footer>
    <nav class="navbar navbar-light fixed-bottom bg-light" role="navigation">
        <span class="pl-4">Visit our partners</span>
        <a class="nav-link" href="https://tompkins.historyforge.net">Tompkins County, NY</a>
        <a class="nav-link" href="https://elmira.historyforge.net">Elmira, NY</a>
        <a class="nav-link" href="https://auburn.historyforge.net">Auburn, NY</a>
        <a class="nav-link pr-4" href="https://oberlin.historyforge.net">Oberlin, OH</a>
        </ul>
    </nav>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" data-turbolinks-track="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" data-turbolinks-track="true"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" type="text/javascript" crossorigin="anonymous" data-turbolinks-track="true"></script>
<script src="/assets/js/parallax.min.js" type="application/javascript"></script>
