<header>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" role="navigation">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo-hf.png" alt="" />
            <img src="/assets/images/logo-text.png" alt="logo" role="presentation" />
        </a>
        <button class="navbar-toggler" data-target="#navbar-nav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Our Partners</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="https://tompkins.historyforge.net" target="_blank">Tompkins
                            County, NY</a>
                        <a class="dropdown-item" href="https://elmira.historyforge.net" target="_blank">Chemung County,
                            NY</a>
                        <a class="dropdown-item" href="https://auburn.historyforge.net" target="_blank">Auburn, NY</a>
                        <a class="dropdown-item" href="https://oberlin.historyforge.net" target="_blank">Oberlin, OH</a>
                        <a class="dropdown-item" href="https://walnuthills.historyforge.net" target="_blank">Walnut
                            Hills, OH</a>
                        <a class="dropdown-item" href="https://schenectady.historyforge.net" target="_blank">Schenectady
                            County, NY</a>
                        <a class="dropdown-item" href="https://sela.historyforge.net" target="_blank">New Orleans,
                            LA</a>
                        <a class="dropdown-item" href="https://pittsburgh.historyforge.net" target="_blank">Pittsburgh,
                            PA</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/setup">Setup</a></li>
                <li class="nav-item"><a class="nav-link" href="/sponsors">Sponsors</a></li>
                <li class="nav-item"><a class="nav-link" href="https://tompkins.historyforge.net/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>